body{
    margin: 0;
    padding: 0;
}
.nav {
 background-color:black;
 display:flex ;
 justify-content: center;
}
main{
    display: flex;
}
.nav h1 {
 font-size: 30px;
 color: aliceblue;
}
.pt-1{
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.box-1{
    margin: 15px 0 0 10px;
height: 750px;
width: 25%;

}
h2{
   display: flex;
    justify-content: center;
    font-size:25px ;
    font-weight:bold;
}
.city-name{
 box-sizing: border-box;
  margin-left: 9px;
  width: 95%;  
  height: 38px;
  border-radius: 5px;
}
.search{
    background:#2196F3;
    box-sizing: border-box;
    margin: 10px 8px;
    height: 35px;
    width: 95%;  
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
    font-size: 17px;
   
}
.search-section{
    border-bottom: 5px black;
}
.pre-sets{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pre-sets button{
    font-size:large ;
    padding: 8px;
    margin:10px;
}
.box-2{
    margin: 15px 0 0 15px;
  height: 250px;
  width: 98%;
  border: 1px solid grey;  
}
.box-3{
    margin: 35px 0 0 15px;
    height: 300px;
    width: 98%;
     
  }
