:root{
 --main-font:Verdana, Geneva, Tahoma, sans-serif;  
 --sub-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
.nav {
 background-color:black;
 display:flex ;
 justify-content: center;
}
main{
    display: flex;
}
.nav h1 {
    font-family: var(--main-font);
 font-size: 30px;
 color: aliceblue;
}
.pt-1{
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.box-1{
    margin: 15px 0 0 10px;
height: 750px;
width: 25%;

}
h2{
   display: flex;
    justify-content: center;
    font-size:25px ;
    font-weight:bold;
    font-family: var(--main-font);
}
.city-name{
 box-sizing: border-box;
  margin: 0 0 5px 9px;
  width: 95%;  
  height: 38px;
  border-radius: 5px;
}
.search{
    background:#2196F3;
    box-sizing: border-box;
    margin: 20px 8px;
    height: 35px;
    width: 95%;  
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
    font-size: 17px;
    font-family: var(--sub-font)
}

.pre-sets{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 3px solid black;
}
.pre-sets button{
    font-size:large ;
    padding: 8px;
    margin:20px 10px 10px 10px;
    font-family: var(--sub-font)
}
.box-2{
    display: flex;
    margin: 15px 0 0 15px;
  height: 250px;
  width: 98%;
  border-left: 1px solid grey;  
}
.box-2 h1{
    margin-left: 5px;
    width: max-content;
    font-family: var(--main-font);
}
.box-2 p{
    margin-left: 5px;
    width: max-content; 
    font-family: var(--sub-font);
}
.box-3{
    display: flex;
    margin: 50px 0 0 15px;
    height: 300px;
    width: 98%;
     
  }
  .dayforcast {
    font-family: var(--main-font);
 margin-left:35px;
 font-size:25px ;
  }
.day{
    background-color: grey;
    margin-left:15px ;
    width: 275px;
    height: 270px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    
}
.day h1{
    text-align: center;
}
.day p {
    font-family: var(--sub-font)
}